<ul class="discs list">
{{#discs}}
	<li data-behavior="swipeable">
			
		<div class="wrap">
			<div class="content">
					
				<div class="name">{{name}}</div>
				<div class="titles">
					<div class="row clearfix">
						{{#titles}}
							<a 
								data-enqueue="/enqueue/{{id}}"
								data-unqueue="/unqueue/{{id}}"
								data-id="{{id}}"
								data-behavior="enqueue"
								class="{{#queued}}selected{{/queued}}"
							>
								{{timecode}}
								{{>progress}}
							</a>
						{{/titles}}
					</div>
				</div>
					
			</div>
			<div class="sidebar">
				<form action="/disc/{{id}}" method="post">
					<input name="_method" type="hidden" value="delete" />
					<a class="button-delete" data-behavior="delete-disc">Delete</a>
				</form>
			</div>			
		</div>
			
	</li>
{{/discs}}
</ul>