<ul class="discs">
{{#discs}}
	<li>
		<div class="disc">
			<div class="name">{{name}}</div>
			<div class="delete">
				<form action="/disc/{{id}}" method="post">
					<input name="_method" type="hidden" value="delete" />
					<button>Delete</button>
				</form>
			</div>
			<div class="titles">
				<div class="row clearfix">
					{{#titles}}
						<a href="/enqueue/{{id}}" {{#queued}}class="selected"{{/queued}} data-id="{{id}}">
							{{timecode}}
							{{>progress}}
						</a>
					{{/titles}}
				</div>
			</div>
		</div>
	</li>
{{/discs}}
</ul>