<ul class="queue">
{{#queue}}
	<li data-id="{{id}}">
		<div class="name">
			{{name}}
			<canvas id="progress-{{title}}" width="50" height="50" style="width: 25px; height: 25px;" class="progress-circle" data-progress="{{progress}}"></canvas>
		</div>
		<div class="meta">
			Title {{title}} 
			<span class="meta-light">{{timecode}}</span>
		</div>
	</li>
{{/queue}}
{{^queue}}
	<li>
		Nothing in the queue
	</li>
{{/queue}}
</ul>