<ul class="queue">
	{{#queue}}
	<li data-id="{{id}}">
		<div class="wrap">
			<div class="content-wrap">
				<div class="content">
					<div class="content-inner">
						<div class="name">
							{{disc_name}}asdf
						</div>
						<div class="meta">
							Title {{title}} 
							<span class="meta-light">{{timecode}}</span>
						</div>
						{{>progress}}
					</div>
				</div>
			</div>
			<div class="control">
				<a href="/unqueue/{{id}}">Unqueue</a>
			</div>
		</div>
	</li>
	{{/queue}}
	{{^queue}}
	<li>
		Nothing in the queue
	</li>
	{{/queue}}
</ul>