<ul class="queue">
{{#queue}}
	<li data-id="{{id}}">
		<div class="name">
			{{disc_name}}
		</div>
		<div class="meta">
			Title {{title}} 
			<span class="meta-light">{{timecode}}</span>
		</div>
		{{>progress}}
	</li>
{{/queue}}
{{^queue}}
	<li>
		Nothing in the queue
	</li>
{{/queue}}
</ul>