<!DOCTYPE html>
<html>
<head>
	<title>
		{{title}}
	</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="/favicon.ico" />
	<link rel="apple-touch-startup-image" href="/images/startup-iphone@2x.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" />
	<link rel="apple-touch-startup-image" href="/images/startup-ipad-portrait@2x.png" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" />
	<link rel="apple-touch-startup-image" href="/images/startup-ipad-landscape@2x.png" media="(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" />

	<script src="/assets/application.js"></script>
	<link rel="stylesheet" href="/assets/master.css" />
</head>
<body>
	<header class="clearfix">
		<nav>
			<ul>
				<li {{#queue_selected}}class="selected"{{/queue_selected}}><a href="/">Queue</a></li>
				<li {{#history_selected}}class="selected"{{/history_selected}}><a href="/history">History</a></li>
				<li><a href="/resque">Resque</a></li>
			</ul>
		</nav>
	</header>
	<div class="main">
		<div class="inner">
			{{{yield}}}
		</div>
	</div>
</body>
</html>