<span class="progress-wrap">
	<span class="progress">
		<span 
			class="progress-inner" 
			style="width: {{#transcoded}}100{{/transcoded}}{{^transcoded}}{{progress}}{{/transcoded}}%;">
		</span>
	</span>
</span>
