<ul class="movies">
{{#movies}}
	<li>
		{{name}}
		<div class="delete">
			<form action="/disc/{{id}}" method="post">
			    <input name="_method" type="hidden" value="delete" />
				<button>Delete</button>
			</form>
		</div>
		<div class="titles">
			<div class="row clearfix">
			{{#titles}}
				<a 
					data-id="{{id}}" 
					data-title="{{title}}"
					{{#queued}}class="selected"{{/queued}}
				>
					{{timecode}}
				</a>
			{{/titles}}
			</div>
		</div>
	</li>
{{/movies}}
</ul>