<!DOCTYPE html>
<html>
<head>
	<title>
		{{title}}
	</title>
	<link rel="stylesheet" href="/assets/master.css" />
	<script src="/assets/application.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no" />
</head>
<body>
	<header class="clearfix">
		<strong class="logo">Transcode</strong>
		<nav>
			<ul>
				<li><a href="/">Queue</a></li>
				<li><a href="/history">History</a></li>
				<li><a href="/resque">Resque</a></li>
			</ul>
		</nav>
	</header>
	<div id="main">
		{{{yield}}}
	</div>
</body>
</html>