<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
	<link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>